html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  display: block; height: 1px !important;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0;
}

* {
  box-sizing: border-box;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #948282 ;
  display: block;
  cursor:pointer;
}

.active {
  color:purple !important;
}

.container {
  margin-left: 150px !important;
  padding-right: 160px !important;
}

.nav {
  height: 80px;
  display: flex !important;
  justify-content: flex-end !important;
  width:100%;
  margin-bottom:-25px !important;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  margin-left: 20px;
}
.btn{
  margin-left:20px;
}

.nav-content {
  display: flex;
  align-items: center;
}

.nav-content p {
  margin-top: 10px;
}

.error-message{
  position:absolute;
  bottom:20px;
  padding:5px;
  color:red;
}
